@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
   <nav id="cookieConsent" class="navbar navbar-default navbar-fixed-top" role="alert">
       <div class="container">
           <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>
               <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">SalesWebMvc</a>
           </div>
           <div class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                   <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                   <li><a asp-area="" asp-controller="Departaments" asp-action="Index">Departaments</a></li>
                   <li><a asp-area="" asp-controller="Sellers" asp-action="Index">Sellers</a></li>
                   <li><a asp-area="" asp-controller="SalesRecords" asp-action="Index">Sales</a></li>
                   <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                   <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
               </ul>
           </div>
       </div>
    </nav>
  
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
        document.cookie = el.target.dataset.cookieString;
        document.querySelector("#cookieConsent").classList.add("hidden");
    }, false);
        })();
    </script>
}