@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
        <div class="col-md-12" style="margin-top:30px">
            <span  style="font-family:Arial;font-size:xx-large;color:dodgerblue">Sales System</span>
        </div>
</div>

